@model IEnumerable<CukierniaAdamMus.Models.Kategoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Kategorii</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KategoriaId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.KategoriaId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.KategoriaId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>